/* Custom CSS directives for effects */

div.highlight {
	border: 1px solid #aaa;

	        box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	   -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	     -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.3);

	position: relative;
	margin: 15px 30px 30px 5px;
	padding-top: 5px;
	padding-bottom: 5px;

	background-color: #eef;
}


button.eval-btn {
	position: absolute;
	right: -30px;
	bottom: -30px;
	background-color: #aaddaa;
	width: 60px;
	height: 60px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 120px;
	transition: background-color 0.2s linear;
	margin-bottom: 5px;
	margin-right: 5px;
	    -ms-transform: rotate(-20deg); 
    -webkit-transform: rotate(-20deg); 
            transform: rotate(-20deg);
    font-weight: bold;
         outline-style: none; 
    -moz-outline-style:none;
    	    box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	   -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	     -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
}

button.eval-btn:hover {
	background-color: #00cc00;
}

button.eval-btn:active {
	background-color: #cc0000;
}

/* Modal dialog */
#modalTarget { display: none; }

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 0.4s linear;
    pointer-events: none;
}

/*.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}*/

.modalDialog > div {
    max-width: 700px;
    position: relative;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid #aaa;
    background: #111;
    color: #fff;
        	    box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	   -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	     -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
}

.close {
	position: absolute;
	text-align: center;
	right: -12.5px;
	top: -12.5px;
	background-color: #ff8888;
	width: 25px;
	height: 25px;
	color: #fff;
	border: 1px solid #f00;
	border-radius: 50px;
	transition: background-color 0.2s linear;
	margin-bottom: 5px;
	margin-right: 5px;
	    -ms-transform: rotate(-20deg); 
    -webkit-transform: rotate(-20deg); 
            transform: rotate(-20deg);
    font-weight: bold;
         outline-style: none; 
    -moz-outline-style:none;
    	    box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	   -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	     -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
}

.close:hover {
	background-color: #cc0000;
}

.close:active {
	background-color: #00cc00;
}

.run {
	position: absolute;
	text-align: center;
	right: -20px;
	bottom: -20px;
	background-color: #88ff88;
	width: 40px;
	height: 40px;
	color: #fff;
	border: 1px solid #0f0;
	border-radius: 80px;
	transition: background-color 0.2s linear;
	margin-bottom: 5px;
	margin-right: 5px;
	    -ms-transform: rotate(-20deg); 
    -webkit-transform: rotate(-20deg); 
            transform: rotate(-20deg);
    font-weight: bold;
         outline-style: none; 
    -moz-outline-style:none;
    	    box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	   -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	     -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
}

.run:hover {
	background-color: #00cc00;
}

.run:active {
	background-color: #0000cc;
}

#modalContent {
	padding: 3px;
  font-size: 12px;
	background-color: rgb(31,31,31);
  border-top: 1px solid rgb(70,130,180);
	height: 200px;
	overflow: auto;
}

#modalEditor {
	background-color: #222;
	color: #ddd;
	margin: 0px;
	width: 100%;
	height: 300px;
}

/* TABLES */

table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
} 

table td, table th { 
	padding: 3px 10px; 
}

table thead th {
	background: #aaa; 
	color:#FFFFFF; 
} 

table thead th:first-child { 
	border: none; 
}

table tbody td { 
	color: #000000; 
}

table tbody tr:nth-child(even) { 
	background: #EFEFEF; 
	color: #000000; 
}

table tbody td:first-child {
	border-left: none; 
}

table tbody tr:last-child td { 
	border-bottom: none; 
}

.posts li {
	padding: 15px;
	border: 1px solid #bbb;
	border-radius: 10px;
	transition: background-color 0.5s linear;
}

.posts li:hover {
	background-color: #ddd;
}